.main {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: calc(50% - 20px); /* Occupa metà della larghezza con uno spazio di 20px */
    margin: 10px;
    border-radius: 0; /* Rimuove il border radius */
    overflow: hidden;
    background-color: #FBF7E3;
  }
  
  .card .card-content {
    width: calc(100% - 30px); /* Larghezza del contenitore con uno spazio di 15px da entrambi i lati */
    margin: 15px;
    display: flex;
  }
  
  .card .card-img {
    width: 40%; /* Larghezza dell'immagine */
    flex-shrink: 0; /* Evita che l'immagine si restringa */
  }
  
  .card .card-img img {
    width: 100%; /* Larghezza dell'immagine al 100% */
    height: 100%; /* Altezza dell'immagine al 100% */
    object-fit: cover;
  }
  
  .details {
    width: 60%; /* Larghezza del contenitore del testo */
    padding: 1em;
  }
  
  .card h3 {
    margin-top: 0;
    color: #612406;
    font-size: 1.1em;
    font-weight: bolder;
  }
  
  .card p {
    margin: 0;
    color: #926541;
  }
  
  .card .price {
    align-self: flex-end;
  }
  
  .card .price p {
    margin: 0;
    align-self: flex-end;
    font-size: 1.3em;
    color: #926541;
  }
  
  .card button {
    width: calc(100% - 2em);
    margin: 10px auto;
    background-color: #F3DF85;
    border: none;
    padding: 0.5em 0;
    color: #652F10;
    border-radius: 30px;
  }
  
  
  
  